*.lua text=auto
*.lua eol=crlf
*.luau text=auto
*.luau eol=crlf
*.json text=auto
*.json eol=crlf
*.rbxmx text=auto
*.rbxmx eol=crlf
*.md text=auto
*.md eol=crlf
*.toml text=auto
*.toml eol=crlf
*.yml text=auto
*.yml eol=crlf
*.txt text=auto
*.txt eol=crlf
*.bat text=auto
*.bat eol=crlf
*.sh text=auto
*.sh eol=crlf